/*agregar tipo de fuente*/
body{
  background: #02010a;
  animation: body-animation 2s;
}

img{
    box-shadow:0 0 5px 2px #02010a;
}

#cabecera{
  background-color: #5b7989;
  border-radius: 10px;
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
#cabecera h1{
  text-align: left;
  flex-grow: 1;
  text-shadow: 1px 1px 2px  #02010a;
  margin-left: 10px;
}

#menu{
  padding:0 1%;
}
#menu a {
  text-decoration: none;
  color: white;
}

#menu div{
  position: relative;
  top: 68%;
}

#contenido{
  padding-top: 5px;
  margin: auto;
  width: 900px;
}

#imagen_central {
  width: 80%;
  margin: auto;
}

#imagen_central img{
  width: 100%;
}

#imagen_secundaria{
  display: flex;
}

#imagen_secundaria div{
  width: 40%;
  margin: 5%;
}

#imagen_secundaria img{
  width: 100%;
  height: 100%;
  border: 1px solid #d5c75f;
}


.img_secundaria1 a :hover{
    transform: rotate(10deg);
    border: 2px solid;
    box-shadow: 0 0 5px 5px #82c3a6;
}

.img_secundaria2 a :hover{
    transform: translate(20px, -5px);
    border: 2px solid;
    box-shadow: 0 0 5px 5px #82c3a6;
}

#pie_pagina{
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  text-align: center;
  background: #C6d5c5
}

#pie_pagina div{
flex: 1;
}
/*Estilos Paisajes.html*/
.contenedor_galeria{
  width: 90%;
  margin: auto;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.contenedor_galeria>div{
  width: 350px;
  height: 220px;
  margin: auto;
  padding: 50px 0;
}

.contenedor_galeria img{
  width: 100%;
  height: 100%;
}

.contenedor_galeria div:nth-child(1) img {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.contenedor_galeria div:nth-child(even) img{
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}

.contenedor_galeria div:nth-child(3) img{
  -webkit-filter: sepia(90%);
  filter:sepia(90%);
}

@-webkit-keyframes body-animation{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}

@media (max-width:400px) {
  #contenido{
      width: 100%;
    }

    #cabecera{
      display: block;
    }

    #menu{
      text-align: center;
    }

    #imagen_secundaria{
      flex-direction: column;
    }

    #imagen_secundaria div{
      width: 70%;
      margin:auto;
      padding-bottom: 20px;
    }

    #pie_pagina{
      display: block;
    }

    .contenedor_galeria>div{
      width: 70%;
      height: auto;
    }

}

@media (min-width:401px) and (max-width:900px) {
#contenido{
    width: 100%;
  }

  #cabecera{
    display: block;
  }

  #menu{
    text-align: right;
  }



  #pie_pagina{
    display: block;
  }

  #imagen_secundaria div{
    width: 40%;
    margin:auto;
    padding-bottom: 20px;
  }

  .contenedor_galeria>div{
    width: 70%;
    height: auto;
  }


}
